@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&family=Public+Sans:wght@100;300;400;600&display=swap');

:root {
  --brShadowColorRaw: 151, 0, 116;
  --tlShadowColorRaw: 0, 96, 126;
  --songColorRaw: 254, 1, 193;
  --artistColorRaw: 249, 212, 2;
  --borderColorRaw: 0, 194, 255;

  --brShadowColor: rgb(var(--brShadowColorRaw));
  --tlShadowColor: rgb(var(--tlShadowColorRaw));
  --songColor: rgb(var(--songColorRaw));
  --artistColor: rgb(var(--artistColorRaw));
  --borderColor: rgb(var(--borderColorRaw));

  --brShadow: -3px 3px 7px rgba(var(--brShadowColorRaw), 0.5);
  --tlShadow: 3px -3px 7px rgba(var(--tlShadowColorRaw), 0.5);
}

/* change flex direction to column on portrait, adjust for needs */
@media (max-width: 1200px) {
  .container {
    flex-direction: column !important;
  }

  .song-details {
    width: auto !important;
  }
  .thumbnail-border {
    width: 70vw !important;
    height: 70vw !important;
  }
  .song-title {
    font-size: 12vw !important;
  }
  
  .album-title {
    font-size: 6vw !important;
  }
  
  .artist {
    font-size: 7vw !important;
  }
}

body {
  background-color: var(--brShadowColor);
  font-family: 'Public Sans', sans-serif;
  color: var(--songColor);
  overflow: hidden;
}

.container {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

@keyframes positionChange {
  to {
    background-position: top left;
  }
}


.song-thumbnail {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: spin 40s linear infinite;
}

.thumbnail-border {
  display: flex;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  padding: 0.5vw;
  background-color: var(--borderColor);
  box-shadow: inset 6px 6px 20px 0 rgba(var(--brShadowColorRaw), 0.2),
    0px 4px 20px rgba(var(--brShadowColorRaw), 0.1),
    0px 8px 24px rgba(var(--brShadowColorRaw), 0.1),
    0px 16px 45px rgba(var(--tlShadowColorRaw), 0.4);
}

.song-details {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  text-shadow: var(--brShadow), var(--tlShadow);
  overflow: visible;
  width: 30%;
  /* Hardcoded width cause text move the thumbnail away */
}

.song-title {
  font-size: 4.5vw;
  font-weight: bolder;
}

.album-title {
  font-size: 2.2vw;
  color: var(--artistColor);
  padding-top: 6rem;
  font-weight: 600;
}

.artist {
  font-size: 2.8vw;
  color: var(--artistColor);
  padding-top: 1.5rem;
  font-weight: 600;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}