@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&family=Public+Sans:wght@100;300;400;600&display=swap');

:root {
  --brShadowColor: rgb(151, 0, 116);
  --tlShadowColor: rgb(0, 96, 126);
  --songColor: rgb(254, 1, 193);
  --artistColor: rgb(249, 212, 2);
  --borderColor: rgb(0, 194, 255);

  --brShadowColorRaw: 151, 0, 116;
  --tlShadowColorRaw: 0, 96, 126;
  --songColorRaw: 254, 1, 193;
  --artistColorRaw: 249, 212, 2;
  --borderColorRaw: 0, 194, 255;

  --brShadow: -3px 3px 7px rgba(var(--brShadowColorForBoxShadow), 0.5);
  --tlShadow: 3px -3px 7px rgba(var(--tlShadowColorForBoxShadow), 0.5);

  --brShadowColorForBoxShadow: 255, 0, 255;
  --tlShadowColorForBoxShadow: 0, 255, 255;
}

/* change flex direction to column on mobile */
@media (max-width: 1444px) {
  .container {
    flex-direction: column !important;
  }
  .song-details {
    width: auto !important;
  }
}

body {
  background-color: var(--brShadowColor);
  font-family: 'Public Sans', sans-serif;
  color: var(--songColor);
  overflow: hidden;
}

.container {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  /* Uncomment these for Image Background */
  /* background-image: url(http://test.palitechnika.com/Transgender_Pride_flag.png); */
  /* backdrop-filter: blur(70px); */

  /* Comment this to disable gradient background */
  /* background-image:
    radial-gradient(circle at left,
      rgba(var(--borderColorRaw), 1),
      rgba(255, 255, 255, 0) 50%),
    radial-gradient(circle at top left,
      rgba(var(--artistColorRaw), 0.4),
      rgba(255, 255, 255, 0) 60%),
    radial-gradient(circle at bottom,
      rgba(var(--songColorRaw), 0.3),
      rgba(255, 255, 255, 0) 60%),
    radial-gradient(circle at top right,
      rgba(var(--tlShadowColorRaw), 1),
      rgba(255, 255, 255, 0) 60%),
    radial-gradient(circle at bottom right,
      rgba(var(--brShadowColorRaw), 1),
      rgba(255, 255, 255, 0) 60%); */
  /* Usually colors are very bright, somehow. This will darken them a bit. Comment if you don't like it
     I use this with a TV and it's usually dark so this suits me better, but during the day brighter is fine too...
     Maybe I'll throw in some JS to check the sun and adjust brightness accordingly */
  filter: brightness(0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  animation: colorChange 5s infinite alternate;

}

@keyframes colorChange {
  to {
    background-position:top left;
  }
 }


.song-thumbnail {
  height: 750px;
  width: 750px;
  border-radius: 50%;
  /* animation: spin 40s linear infinite; */
}

.thumbnail-border {
  display: flex;
  height: 750px;
  width: 750px;
  border-radius: 50%;
  padding: 0.4rem;
  background-color: var(--borderColor);
  box-shadow: inset 6px 6px  20px 0 rgba(var(--brShadowColorForBoxShadow), 0.2),
                    0px 4px  20px   rgba(var(--brShadowColorForBoxShadow), 0.1),
                    0px 8px  24px   rgba(var(--brShadowColorForBoxShadow), 0.1),
                    0px 16px 45px   rgba(var(--tlShadowColorForBoxShadow), 0.4);
}

.song-details {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  text-shadow: var(--brShadow), var(--tlShadow);
  overflow: visible;
  width: 30%;   /* Hardcoded width cause text move the thumbnail away */
}

.song-title {
  font-size: 6rem;
  font-weight: bolder;
}

.album-title {
  font-size: 3rem;
  color: var(--artistColor);
  padding-top: 6rem;
  font-weight: 600;
}

.artist {
  font-size: 3.5rem;
  color: var(--artistColor);
  padding-top: 1.5rem;
  font-weight: 600;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}